flows.json
[
    {
        "id": "da4c35aa503b4833",
        "type": "tab",
        "label": "WorkFlow Adaptive System (WAS)",
        "disabled": false,
        "info": "Fluxo principal para monitoramento ambiental e l처gica de sugest찾o de carreira."
    },
    {
        "id": "16e89e3b10b4377c",
        "type": "mqtt in",
        "z": "da4c35aa503b4833",
        "name": "MQTT: fiap/gs/workflow/sensor01",
        "topic": "fiap/gs/workflow/sensor01",
        "qos": "2",
        "datatype": "auto",
        "broker": "b1c2d3e4.5f6a7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "8a3adc6d62a66de8"
            ]
        ]
    },
    {
        "id": "8a3adc6d62a66de8",
        "type": "json",
        "z": "da4c35aa503b4833",
        "name": "JSON Parser",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "8eb49e1ecbdebb6c",
                "ef3ad9cfe24619f3",
                "8edf7689e532ef83"
            ]
        ]
    },
    {
        "id": "8eb49e1ecbdebb6c",
        "type": "function",
        "z": "da4c35aa503b4833",
        "name": "Extract Temp (째C)",
        "func": "msg.payload = msg.payload.temperature_c; return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "2df50c9034bd8132"
            ]
        ]
    },
    {
        "id": "2df50c9034bd8132",
        "type": "ui_gauge",
        "z": "da4c35aa503b4833",
        "name": "Temperatura",
        "group": "45d7a469c13a0f01",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura (째C)",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": 40,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef3ad9cfe24619f3",
        "type": "function",
        "z": "da4c35aa503b4833",
        "name": "Extract Air Quality (ppm)",
        "func": "msg.payload = msg.payload.air_quality_ppm; return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "80c731fe7534c445"
            ]
        ]
    },
    {
        "id": "80c731fe7534c445",
        "type": "ui_gauge",
        "z": "da4c35aa503b4833",
        "name": "Qualidade do Ar",
        "group": "45d7a469c13a0f01",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Qualidade do Ar (ppm)",
        "label": "PPM",
        "format": "{{value}}",
        "min": 200,
        "max": 700,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "500",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "8edf7689e532ef83",
        "type": "switch",
        "z": "da4c35aa503b4833",
        "name": "Interruptor: Ar Ruim > 500ppm",
        "property": "payload.air_quality_ppm",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "9edc98816caf19ba"
            ],
            []
        ]
    },
    {
        "id": "9edc98816caf19ba",
        "type": "function",
        "z": "da4c35aa503b4833",
        "name": "Prepare Alert JSON",
        "func": "var alertaPayload = {\n    device_id: msg.payload.device_id,\n    acao_sugerida: \"Pausa e planejamento de curso sobre Ergonomia.\",\n    nivel_alerta: \"critico\",\n    timestamp: Date.now()\n};\n\nmsg.payload = alertaPayload;\n\nmsg.headers = {\n    \"content-type\": \"application/json\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "66907fbb885c858a"
            ]
        ]
    },
    {
        "id": "66907fbb885c858a",
        "type": "http request",
        "z": "da4c35aa503b4833",
        "name": "HTTP POST: Alerta Carreira",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://<SEU_IP_APP>:8080/alerts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 960,
        "y": 300,
        "wires": [
            [
                "09dc8a5febb58e14"
            ]
        ]
    },
    {
        "id": "09dc8a5febb58e14",
        "type": "debug",
        "z": "da4c35aa503b4833",
        "name": "Debug: HTTP Response",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "b1c2d3e4.5f6a7b",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "verifyservercert": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "45d7a469c13a0f01",
        "type": "ui_group",
        "name": "Monitoramento Ambiental",
        "tab": "c1436a75e46c3d81",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1436a75e46c3d81",
        "type": "ui_tab",
        "name": "Dashboard IoT - WAS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b56e79ea3a32fbf3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]